* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    list-style: none;
}

body {
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    background: rgb(130, 130, 130)
}

h1, p {
    margin: 0;
    padding: 0;
}

.container {
    width: 600px;
    height: 600px;

    position: absolute;
    top: 50%;
    left: 50%;
    margin: -300px 0 0 -300px;

    border: solid black 3px;
    background: orange;
}

.header {
    margin: 0;
    padding: 0;
    height: 40px;
    margin-bottom: 0px;
    background: lightblue;
}

.input-section {
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: lightpink;
}

.user-input {
    background: lightcoral;
}
.picker {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 200px;
}
.input {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: lightseagreen;
}
.input input {
    width: 90%;
    height: 50px;
    -webkit-appearance: none;
    height: 5px;
    margin: 10px;
    background-color: white;
}
.input input:hover {
    cursor: pointer;
}

.output-section {
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: green;
}

.outputs {
    width: 40%;
    height: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: lightgreen;
}
.outputs p {
}
.outputs button {
    width: 50%;
    height: 20px;
}

.shades {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    background: lightsalmon;
    align-items: center;
    justify-content: center;
}

.display {
    border-radius: 25px;
    width: 100px;
    height: 200px;
    background: rgb(130, 130, 130);
}

.shades1, .shades2, .shades3 {
    margin-right: 10px;
    padding: 0;
    border-radius: 20px;
    width: 60px;
    height: 150px;
    background: rgb(130, 130, 130);
    background: hsl(0%, 0%, 50%);
}

.shades4, .shades5, .shades6 {
    margin-left: 10px;
    padding: 0;
    border-radius: 20px;
    width: 60px;
    height: 150px;
    background: rgb(130, 130, 130);
}

.lighter-darker {
    margin-top: 10px;
    width: 100%;
    background: blanchedalmond;
}

.footer {
    background: rgba(255, 255, 255, 0.4);
}

/*
body {
    background: none;
    max-width: 500px;
    margin: auto;
    padding: 0px;
}
div {
    margin: 0;
    padding: 0;
    background-color: rgb(218, 218, 218);
    color: rgb(34, 34, 34);
    font-family: Helvetica;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid black;
    position: absolute;
    height: 500px;
    width: 500px;
    top: 50%;
    margin-top: -250px;
}
h1 {
    margin: 0;
    padding: 0;
    text-align: center;
}
ul {
    margin: 0;
    padding: 0;
    background-color: rgb(218, 218, 218);
    color: rgb(34, 34, 34);
    font-family: Helvetica;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
li {
    margin-top: 10px;
    list-style: none;
}
.palettes {
    width: 600px;
    background: white;
}
*/