* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    background: pink;
}
.container {
    width: 800px;
    border: solid black 1px;
    background: orange;
}
.header {
    height: 40px;
    margin-bottom: -10px;
}
.picker {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 200px;
}
.input {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input input {
    width: 90%;
    height: 50px;
    -webkit-appearance: none;
    height: 5px;
    margin: 10px;
    background-color: white;
}
.input input:hover {
    cursor: pointer;
}
.display {
    border-radius: 20px;
    width: 15%;
    height: 100%;
    background: rgb(130, 130, 130);
}
.outputs {
    width: 30%;
    height: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.outputs p {
    margin-bottom: 5px;
}
.outputs button {
    width: 50%;
    height: 20px;
}
.palettes {
    width: 800px;
    background: white;
}

/*
body {
    background: none;
    max-width: 500px;
    margin: auto;
    padding: 0px;
}
div {
    margin: 0;
    padding: 0;
    background-color: rgb(218, 218, 218);
    color: rgb(34, 34, 34);
    font-family: Helvetica;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid black;
    position: absolute;
    height: 500px;
    width: 500px;
    top: 50%;
    margin-top: -250px;
}
h1 {
    margin: 0;
    padding: 0;
    text-align: center;
}
ul {
    margin: 0;
    padding: 0;
    background-color: rgb(218, 218, 218);
    color: rgb(34, 34, 34);
    font-family: Helvetica;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
li {
    margin-top: 10px;
    list-style: none;
}
*/